#header {
    background-image: url('https://media.discordapp.net/attachments/647542543986458673/1248656260505538580/header.webp?ex=66647543&is=666323c3&hm=7daffd56f2e08c9edb78c8f7235eb25fe6e67d4a7b138a6276d89e31c686cb23&=&format=webp&width=1440&height=402');
    background-size: cover;
    background-position: center;
}