---
import Common from "../layouts/common.astro";
import UsuarisController from "../../../public/usuaris";
import { boolean } from "astro/zod";

const COOKIES_ID = "dyst.algorhythmics";

if (Astro.request.method === "POST") {
    const controlador = new UsuarisController();
    const data = await Astro.request.formData();

    const email = data.get("email");
    const password = data.get("password");

    const existeix = false;

    const users = controlador.getAll();

    for (user in users.list) {
        if (users.email === email) {
            return Astro.redirect('/forms/signin_error')
        }
    }

    Astro.cookies.set(COOKIES_ID, email + ";!|?;" + password);
    return Astro.redirect('/');
}
---

<Common titol="Sign Up" mainPage={false}>
    <form method="POST" class="center-form">
        <div class="login-container">
            <div class="login-subcontainer">
                <p class="error-text">Error: Aquest email ja existeix.</p>
                <label class="label" for="email">Email</label>
                <input class="text-input" type="text" name="email" id="email"/>

                <label class="label" for="password">Contrasenya</label>
                <input class="text-input" type="text" name="password" id="password"/>

                <button id="loginButton" class="submit">Sign Up</button>
            </div>
        </div>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
</Common>